<h1>Word: <%= @words.word %> </h1>
<h4>Definition: <%= @words.definition %> </h4>

<br>

<div>
  <form method="post" action="/words/:id">
    <label for="new-definition">Edit definition</label>
    <input type="text" name="_edit" value="edit">
    <button type="submit" class="btn btn-info">Edit</button>
  </form>

  <form method="post" action="/words/:id">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-info">Delete</button>
  </form>
</div>

<br>

<a href="/">Home</a>
